doctype html
html(lang="en")
  head
    if pageTitle
      title #{pageTitle} - Give + Take
    else
      title Give + Take
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="/styles/master.css")
    link(rel="stylesheet" href="/styles/dashboard.css")
  body.page--dashboard
    header
      nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
          div.navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
              span.sr-only toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="/dashboard") Give + Take
          div.collapse.navbar-collapse#navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href="#") Johnny
              li
                a(href="/about") About
              li
                a(href="#logout") Log Out
    aside.aside
      div.container-fluid
        div.row
          div.col-xs-12
            h2.h3 Filter
            div.form-group
              label(for="filter-topics") Topics
              select.form-control.input-sm#filter-topics(name="topics")
                option(value) Choose topic
            div.form-group
              label(for="filter-subtopics") Subtopics
              select.form-control.input-sm#filter-subtopics(name="subtopics")
                option(value) Choose subtopic
            div.form-group
              label(for="filter-gender-male") Gender
              div.radio
                label(for="filter-gender-male")
                  input#filter-gender-male(type="radio" name="gender" value="Male")
                  span Male
              div.radio
                label(for="filter-gender-female")
                  input#filter-gender-female(type="radio" name="gender" value="female")
                  span Female
    main.main
      block content
    script(src="//code.jquery.com/jquery-1.12.4.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js")
    script(src="/scripts/dashboard.js")
