doctype html
html(lang="en")
  head
    title Give&amp;Take | Dashboard
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Alice|Playfair+Display:700")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="/styles/master.css")
    link(rel="stylesheet" href="/styles/dashboard.css")
  body.page--dashboard.hide
    header.header
      nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
          div.navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
              span.sr-only Toggle Navigation
              span.glyphicon.glyphicon-menu-hamburger(aria-hidden="true")
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#search-collapse" title="Search by Filter")
              span.glyphicon.glyphicon-search(aria-hidden="true")
            a.navbar-brand(href="/dashboard")
              img(src="/images/GTL3.png" height="46")
          div.collapse.navbar-collapse#navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.js-user-profile-link(href="#modal-profile" data-toggle="modal" data-target="#modal-profile")
              li
                a(href="/about") About
              li
                a.js-logout(href="#logout") Log Out
    aside.aside.collapse#search-collapse
      div.container-fluid
        div.row
          div.col-xs-12
            h2.h3 Filter
            div.form-group
              label(for="filter-topics") Topics
              select.form-control.input-sm.js-filter-topics#filter-topics(name="topics")
                option(value disabled) Choose topic
            div.form-group
              label(for="filter-subtopics") Subtopics
              select.form-control.input-sm.js-filter-subtopics.js-logout#filter-subtopics(name="subtopics")
                option(value disabled) Choose subtopic
            div.form-group
              label(for="filter-gender-male") Gender
              div
                label.radio-inline(for="filter-gender-male")
                  input#filter-gender-male(type="radio" name="gender" value="Male")
                  span Male
                label.radio-inline(for="filter-gender-female")
                  input#filter-gender-female(type="radio" name="gender" value="female")
                  span Female
                label.radio-inline(for="filter-gender-other")
                  input#filter-gender-other(type="radio" name="gender" value="other")
                  span Other
    main.main
      block content
    //- footer.footer
    //-   div.container-fluid
    //-     div.row
    //-       div.col-xs-12
    //-         p Copyright &copy; 2016 <a href="https://github.com/midnightslackers">Midnight Slackers</a>. All rights reserved.
    block templates
    script(src="//code.jquery.com/jquery-1.12.4.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js")
    script(src="/scripts/dashboard.js")
