extends ../layouts/about.layout.pug

block content

  //- div.headline.text-center
  //-   h2 Welcome to the About Page, kids!

  div.mainlogo.text-center
    img(src="images/GTL3.png" width='350')

  div.descriptionHeader.text-center
    h2 What we do
    p Sartorial drinking vinegar affogato, farm-to-table ugh church-key banjo authentic letterpress. Mustache roof party cronut, tattooed farm-to-table kickstarter letterpress +1 four loko occupy. Hella hashtag chartreuse, crucifix schlitz gentrify photo booth tacos fap trust fund. Farm-to-table hashtag readymade franzen tofu. Occupy swag fingerstache, put a bird on it portland kombucha 90's affogato. Cliche banh mi selvage, before they sold out mumblecore leggings polaroid VHS yuccie. Wayfarers waistcoat banjo banh mi.s

  div.explanationHeader.text-center
    h2 How it works
    p Using Give &amp; Take is simple. Have a quick look at the explanation below and you'll be all set to go. See? Easy peasy lemon squeezy.

  h4 Register
  h4 The Dashboard
  h4 The Ratio
