extends ../layouts/about.layout.pug

block content

  div.headline.text-center
    h2 Welcome to the About Page, kids!

  div.mainlogo
    img(src="images/GTL3.png")

  div.description.text-center
    h3 What we do    
