extends ../layouts/about.layout.pug

block content

  //- div.headline.text-center
  //-   h2 Welcome to the About Page, kids!

  div.mainlogo.text-center
    img(src="images/GTL3.png" width='350')

  div.descriptionHeader.text-center
    h2 What we do
