extends ../layouts/about.layout.pug

block content

  div.container
    div.row
      div.col-xs-12.col-sm-8.col-sm-offset-2
        //- div.headline
        //-   h2 About Give &amp; Take

        div.mainlogo.text-center
          img(src="images/GTL3.png" width='350')

        div.descriptionHeader
          h2 What we do
          p G&amp;T has a simple goal: to learn from each other. We believe that learning should be fun, free and bring people together. G&amp;T is all about community and teaching each other. You get to learn as much as you want - as long as you also teach others.
          p Here's an example of how it works. Meet Bob. Bob has always wanted to learn how to play the piano. Bob can not afford paying a piano teacher nor should he have to. Bob comes to Give &amp; Take, signs up and looks for other users who want to give piano lessons. He finds Mary, who lives not far from him. He writes her a message and they agree to meet up. Bob learns how to play the piano. Bob is happy. He is now ready to give back, but he feels he knows nothing worth teaching. Don't worry Bob, we've got you! Bob happens to be a native English speaker. Giovanni is from Italy and would love to improve his English. Giovanni finds Bob on G&amp;T and contacts him. Giovanni is not comfortable to meet in person so they agree to video chat with each other once a week so Giovanni can practice his language skills. A few weeks in, Bob is contacted by Aurelia who also would like to speak English better. After talking to Giovanni they decide to form a group and meet at a local coffee shop. Soon they find that not only has their English improved, they also made new friends.
          p This is Give &amp; Take in a nutshell. We bring people together - you decide if you want to meet online, one-one-one or in a group. Every user is highly encouraged to give back as well as take. You do not need to give back to the same person you took from. You just have to give back to the G&amp;T community at large.

        div.explanationHeader
          h2 How it works
          p Using Give &amp; Take is simple. Have a quick look at the explanation below and you'll be all set to go. Easy peasy lemon squeezy.
        div.subHeader
          h4 Register
          p Before you can start using G&amp;T you need to sign up by filling out the form on our sign-up page. Make sure you add all topics you are willing to teach to your profile as that's the only way others will know what you have to offer.
        div.subHeader
          h4 The Dashboard
          p The Dashboard is your main center of command. Here, you can see all the other G&amp;T users and by using the sidebar filter, you can search for the topics that are currently being taught by others. Once you have found the topics you are interested in as well as a user who is willing to teach it, you can click on that panel to get more information about the user.
        div.subHeader
          h4 The Ratio
          p The Ratio is a very important part of the G&amp;T philosophy. At a glance, it shows how much a user has given and taken in the community. We highly encourage our users to keep these two numbers as balanced as possible. Users can always turn down a request for a lesson. In fact, we encourage turning down a request if that user seems to not be giving back to the community.
