extends ../layouts/default.layout.pug

block title
  title Give&amp;Take | About

block content
  div.container
    div.row
      div.col-xs-12.col-sm-8.col-sm-offset-2
        div.mainlogo
          img.img-responsive.center-block(src="/images/GTL3.png" width="350" height="187")
        div.descriptionHeader
          h2 What we do
          p G&amp;T has a simple goal: to learn from each other. We believe that learning should be fun and free as well as bring people together. G&amp;T is all about community and teaching each other. You get to learn as much as you want - as long as you also teach others.
        div.explanationHeader
          h2 How it works
          p Meet Bob. Bob wants to learn how to play the piano. Bob comes to Give &amp; Take, signs up and looks for users who want to give piano lessons. He finds Mary, who lives not far from him. He writes her a message and they agree to meet. Bob learns how to play the piano. Bob is happy. He is now ready to give back, but he feels he doesn't know anything worth teaching. Don't worry Bob, we've got you covered! Bob happens to be a native English speaker. Giovanni is from Italy and would love to improve his English. Giovanni finds Bob on G&amp;T and contacts him. Giovanni is not comfortable to meet in person so they agree to video chat once a week. A few weeks later Bob is contacted by Aurelia who also would like to practice her English. After talking to Giovanni they decide to form a group and meet at a local coffee shop. Soon they find that not only has their English improved, they have also made new friends.
          p This is Give &amp; Take in a nutshell. We bring people together - you decide if you want to meet online, one-one-one or in a group. Every user is highly encouraged to give back as well as take. You do not need to give back to the same person you took from. You just have to give back to the G&amp;T community at large.
        div.subHeader
          h4 Register
          p Before you can start using G&amp;T you need to sign up by filling out the form on our sign-up page. Make sure you add all topics you are willing to teach to your profile as that's the only way others will know what you have to offer.
        div.subHeader
          h4 The Dashboard
          p The Dashboard is your main center of command. Here you can see all other G&amp;T users. The panel on the left lets you search for all topics that are currently being taught by our users. Once you  have found the topic and/or subtopic you are interested in as well as a user who is willing to teach it you can click on that panel to get more information about the 'teacher'.
        div.infographic
          img.center-block.img-responsive(src="/images/Infografic2.png" width="550" height="412")
        div.subHeader
          h4 The Ratio
          p The Ratio is a very important part of the G&amp;T philosophy. It shows you at a glance how often a user has given and how often they have taken. We highly encourage our users to keep these two numbers as balanced as possible. Every user can of course always turn down a request for a lesson. In fact we encourage turning down requests from users who do not give back to the community.
