extends ../layouts/about.layout.pug

block content

  div.headline
    h2 About Give &amp; Take

  div.mainlogo.text-center
    img(src="images/GTL3.png" width='350')

  div.descriptionHeader
    h2 What we do
    p Sartorial drinking vinegar affogato, farm-to-table ugh church-key banjo authentic letterpress. Mustache roof party cronut, tattooed farm-to-table kickstarter letterpress +1 four loko occupy. Hella hashtag chartreuse, crucifix schlitz gentrify photo booth tacos fap trust fund. Farm-to-table hashtag readymade franzen tofu. Occupy swag fingerstache, put a bird on it portland kombucha 90's affogato. Cliche banh mi selvage, before they sold out mumblecore leggings polaroid VHS yuccie. Wayfarers waistcoat banjo banh mi.s

  div.explanationHeader
    h2 How it works
    p Using Give &amp; Take is simple. Have a quick look at the explanation below and you'll be all set to go. Easy peasy lemon squeezy.
  div.subHeader
    h4 Register
  div.subHeader
    h4 The Dashboard
  div.subHeader
    h4 The Ratio
