extends ../layouts/dashboard.layout.pug

block content
  div.row
    div.col-xs-12.col-sm-4
      div.panel.panel-default
        div.panel-body
          img(src="/testpic.png" width="100")
          span This is Panel Number 1
    div.col-xs-12.col-sm-4
      div.panel.panel-default
        div.panel-body
          span This is Panel Number 2
    div.col-xs-12.col-sm-4
      div.panel.panel-default
        div.panel-body
          span This is Panel Number 3
