extends ../layouts/dashboard.layout.pug

block content
  div.container-fluid
    div.row
      div.col-xs-12
        h1 Dashboard
    div.row
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 1
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 2
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 3
    div.row
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 1
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 2
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 3
    div.row
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 1
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 2
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 3
    div.row
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 1
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 2
      div.col-xs-12.col-md-4
        div.panel.panel-default
          div.panel-body
            span This is Panel Number 3
