extends ../layouts/dashboard.layout.pug

block content
  div.container-fluid
    div.row
      div.col-xs-12
        h1 Dashboard
    div.panels.js-panels
    div.modal#modal-profile(tabindex="-1" role="dialog" aria-labelledby="modal-profile")
      div.modal-dialog.modal-lg(role="document")
        div.modal-content

block templates
  script#select-option-template(type="text/x-handlebars-template")
    option(value="{{id}}") {{name}}
  script#panel-template(type="text/x-handlebars-template")
    div.col-xs-12.col-md-4
      div(class="{{panelClass}}" data-user-id="{{_id}}")
        div.panel-body
          | {{#if profileImage}}
          img.panel__image(src="{{profileImage}}" height="150")
          | {{/if}}
          h2.h4 {{subtopic}} in {{topic}}
          p by {{firstname}}
          p {{sessionsGiven}} Given / {{sessionsTaken}} Taken
  script#profile-template(type="text/x-handlebars-template")
    div.modal-header
      button.close(type="button" data-dismiss="modal" aria-label="Close")
        span(aria-hidden="true") &times;
      h2.modal-title#modal-profile {{firstname}}
    div.modal-body
      div.profile__info
        img.profile__image(src="{{profileImage}}")
        div.row
          div.col-xs-12
            h3 {{topic}}
            h4 {{subtopic}}
            p {{sessionsGiven}} Given / {{sessionsTaken}} Taken
            p Gender: {{gender}}
            p Zip: {{zip}}
      | {{#if notProfile}}
      div.profile__send-message
        h3 Send {{firstname}} a message
        form.js-send-message(action="/api/users/{{_id}}/message" method="post")
          div.form-group
            label(for="name") Name
            input.form-control.input-sm(type="text" name="name" autocomplete="off" required)
          div.form-group
            label(for="email") Email
            input.form-control.input-sm(type="email" name="email" autocomplete="off" required)
          div.form-group
            label(for="message") Message
            textarea.form-control.input-sm(name="message" rows="4" autocomplete="off" required)
          div.form-group
            input.btn.btn--secondary(type="submit" value="Send")
      | {{/if}}
