extends ../layouts/default.layout.pug

block content
  h1.text-center.mainHeadLine Give<span style="color:#783647">&amp;</span>Take
  //- p.text-center A completely community driven platform to share knowledge, learn from each other and teach the things your passionate about
  div.row
    div.col-xs-12.col-md-4.col-md-offset-4
      ul.introList
        li <strong style="color:#783647"> share</strong> knowledge
        li <strong>learn</strong> from each other
        li <strong>teach</strong> topics you're passionate about
        li completely community driven
  h4.text-center.introTagLine Sign up to learn about anything you can imagine for free and share your knowledge with others
  div.row
    div.col-xs-12.col-sm-6.col-sm-offset-3
      ul.nav.nav-tabs.nav-justified(role="tablist")
        li.active(role="presentation")
          a.h3(href="#register" role="tab" data-toggle="tab" aria-controls="register") Register
        li(role="presentation")
          a.h3(href="#login" role="tab" data-toggle="tab" aria-controls="login") Log In
      div.tab-content
        div#register.tab-pane.active(role="tabpanel")
          form.login-form(action="/api/auth/register" method="post")
            div.row
              div.col-xs-6
                div.form-group
                  label(for="register-first-name") First Name
                  input.form-control.input-sm#register-first-name(type="input" name="first_name" autocomplete="off")
              div.col-xs-6
                div.form-group
                  label(for="register-last-name") Last Name
                  input.form-control.input-sm#register-last-name(type="input" name="last_name" autocomplete="off")
            div.form-group
              label(for="register-username") Username
              input.form-control.input-sm#register-username(type="input" name="username" autocomplete="off")
            div.form-group
              label(for="password") Password
              input.form-control.input-sm#register-password(type="password" name="password" autocomplete="off")
            div.form-group
              label(for="register-gender-male") Gender
              div
                label.radio-inline(for="register-gender-male")
                  input#register-gender-male(type="radio" name="gender" value="male")/ Male
                label.radio-inline(for="register-gender-female")
                  input#register-gender-female(type="radio" name="gender" value="female")/ Female
                label.radio-inline(for="register-gender-other")
                  input#register-gender-other(type="radio" name="gender" value="other")/ Other
            div.form-group
              label(for="register-zip") Zip
              input.form-control.input-sm#register-zip(type="input" name="zip" autocomplete="off")
            div.form-group
              label(for="register-topic") Topic
              select.form-control.input-sm#register-topic(name="topic")
                option(value="default" selected) Choose a Major Topic
            div.form-group
              label(for="register-subtopics") Subtopic
              input.form-control.input-sm#register-subtopics(type="input" name="subtopics" autocomplete="off")
            div.form-group
              input.btn.btn--secondary(type="submit" value="Register")
        div#login.tab-pane(role="tabpanel")
          form.login-form(action="/api/auth/login" method="post")
            div.form-group
              label(for="login-username") Username
              input.form-control#login-username(type="input" name="username" autocomplete="off")
            div.form-group
              label(for="login-password") Password
              input.form-control#login-password(type="password" name="password" autocomplete="off")
            div.form-group
              input.btn.btn--secondary(type="submit" value="Log In")
