body {
  font-family: 'Alice', serif;
  padding-top: 70px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #efefef;
  background-image: url(/images/light_grey.png);
  background-repeat: repeat;
}
