.profile__info {
  position: relative;
}

.profile__info h3 {
  margin-top: 0;
}

.profile__info--image {
  padding-left: 110px;
  min-height: 200px;
}

.profile__image {
  position: absolute;
  top: 0;
  left: 0;
}
