.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-toggle.collapsed,
.navbar-toggle.collapsed:hover,
.navbar-toggle.collapsed:focus,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  color: #fff;
  background-color: transparent;
  padding: 6px 8px;
  line-height: normal;
}

.nav-tabs.nav-justified > li {
  display: table-cell;
  width: 1%;
}

.nav-tabs.nav-justified {
  border: 1px solid #ddd;
  border-bottom: none;
}

.navbar-default {
  background-color: #a1a9bd;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #3c4965;
}
