.panel {
  height: 150px;
  border-radius: 0;
  cursor: pointer;
}

.panel--left-image .panel-body {
  position: relative;
  padding-left: 85px;
}

.panel__image {
  position: absolute;
  top: 0;
  left: 0;
}
