body {
  background-color: #efefef;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #3c4965;
}

a,
a:hover,
a:focus {
  color: #3C4965
}

.navbar-default {
  background-color: #a1a9bd;

  .navbar-nav > li > a,
  .navbar-nav > li > a:hover
  .navbar-nav > li > a:focus {
    color: #fff;
  }
}

.subHeader {
  margin-top: 30px;
}

.descriptionHeader {
  margin-top: 40px;
}

.introPoints {
  margin-top: 20px;
  margin-bottom: 1px;
}

.introPoints2 {
  margin-bottom: 20px;
}

.introTagLine {
  margin-top: 10px;
  margin-bottom: 30px;
}

.mainHeadLine {
  font-size: 3.5em;
}
