.descriptionHeader {
  margin-top: 40px;
}

h1,h2,h3,h4{
font-family: 'Playfair Display', serif;
// color: #3C4965
color: #783647
}

p{
font-family: 'Alice', serif;
}

body{
background-color: #CAD5ED;
}

.navbar,nav{
background-color: #E8E4DF;
// background-color: #ADADB2
}

a{
  color: #3C4965
}

.subHeader {
  margin-top: 30px;
}
