.descriptionHeader {
  margin-top: 40px;
}

h1,h2,h3{
font-family: 'Playfair Display', serif;
color: #4B5C8F
}

p{
font-family: 'Alice', serif;
}

body{
background-color: #CAD5ED;
}

.nav{
background-color: #E8E4DF;
}
